// 公用变量
$webbg: #f5f6f8;
$contentWidth: 1200px;
$primaryColor: rgba(95, 192, 152);
$headerHeight: 70px;

$linkColor: #409eff;
$successColor: #16a134;
$errorColor: #f5222d;
$warnColor: #f66030;
$infoColor: #c3c3c3;
$disabledColor: rgba(153, 153, 153, 1);
$disabledBg: #ddd;
